<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <main>
            <h2><%= errorCode %> : <%= errorType %></h2>
            <hr/>
            <p><%= errorMessage %></p>
        </main>
    </div>

    <% include ../partials/scripts %>
</body>

</html>