<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <header>
            <h1><%= pageTitle %></h1>
        </header>
        <main>
            <h2><%= type %></h2>
            <hr/>    
            <ul>
                <% task.forEach(function(task) { %>
                    <li><a href="/api/todo/<%=task.id%>"><%= task.taskTitle%></a></li>                
                <% }) %>
            </ul>
            
            <a href="/api/todo/open">Open</a> - 
            <a href="/api/todo/completed">Completed</a> - 
            <a href="/api/todo">All</a>    
            
            <section>
                <% include ../partials/task-form %>
            </section>
        </main>
    </div>

    <% include ../partials/scripts %>
</body>

</html>